# Streamlit secrets (NEVER COMMIT THIS)
.streamlit/
.streamlit/*

# Virtual Environment
venv/
.venv/
venv_old/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Other typical ignores
.DS_Store
.env
test_html.py
.gstack/
